---
import Layout from '../../layouts/Layout.astro';
import AboutMe from '../../components/about/AboutMe.astro';
const { currentLocale } = Astro
---

<Layout title="Alejo | Sobre mi">
	<main>
		<AboutMe />
	</main>
</Layout>