---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro'; 
import Hero from '../components/Hero.astro'; 
import Skills from '../components/Skills.astro'; 
---
 
<Layout title="Alejo | Mi Portafolio">
	<main>
		<Hero />
		<Skills />
		<Projects />
	</main>
</Layout>