---
import Layout from '../../layouts/Layout.astro';
import Projects from '../../components/projects/Projects.tsx';

const allProjects = [
  {
    id: '1',
    title: 'Análisis Histórico de Partidos Internacionales',
    description: 'VAnálisis básico de un dataset sobre selecciones nacionales de fútbol ',
    image: "src/assets/football-national-analysis.jpg",
    tags: ['Python', 'Pandas', 'Streamlit', 'Plotly', 'NumPy', 'Seaborn'],
    link: 'https://github.com/alejotrenti/football-national-analysis'
  },  
  {
    id: '2',
    title: 'Analizador de Ventas Interactivo',
    description: 'Una aplicación web interactiva construida con Python, Streamlit y Plotly, que permite analizar datos de ventas de manera visual y flexible.',
    image: "src/assets/sales-analysis.png",
    tags: ['Python', 'Pandas', 'PowerBi', 'Streamlit', 'Plotly'],
    link: 'https://github.com/alejotrenti/sales-analysis'
  },  
  {
    id: '3',
    title: 'Trabajo integrador Jugador Promesa',
    description: 'Como trabajo final de la materia "Introducción a Ciencia de Datos", desarrollamos un proyecto que analiza qué tan efectivos son los delanteros, comparando su rendimiento real con lo esperado',
    image: "src/assets/bota-de-oro.png",
    tags: ['R', 'ggplot'],
    link: 'https://github.com/alejotrenti/bota-de-oro'
  },
    {
    id: '4',
    title: 'Análisis del Consumo de Energía Eléctrica en Argentina (2005–2024)',
    description: 'Análisis exploratorio (EDA) del consumo de energía eléctrica en Argentina entre 2005-2024, utilizando datos oficiales de CAMMESA e INDEC',
    image: "src/assets/consumo-powerbi.png",
    tags: ['Python', 'Pandas', 'PowerBi', 'Google Colab', 'Matplotlib'],
    link: 'https://github.com/alejotrenti/consumo-energia-argentina'
  },
  {
    id: '5',
    title: 'Análisis del Mercado Laboral Argentino (2017–2025)',
    description: 'Análisis exploratorio de datos (EDA) del mercado laboral argentino entre 2017 y 2025, utilizando microdatos y series oficiales de la Encuesta Permanente de Hogares (EPH – INDEC).',
    image: "src/assets/mercado_dashboard.png",
    tags: ['Python', 'Pandas', 'PowerBi', 'Google Colab', 'Matplotlib'],
    link: 'https://github.com/alejotrenti/mercado-laboral-argentina'
  },
  // ... más proyectos
];

const allTags = Array.from(new Set(allProjects.flatMap(project => project.tags)));
---

<Layout title="Alejo | Proyectos">
  <main>
    <!-- Monta el componente React -->
    <Projects client:load projects={allProjects} allTags={allTags} />
  </main>
</Layout>
